lxml_html_clean==0.4.1
opentelemetry-semantic-conventions==0.55b1
google-api-core==2.24.1
shellingham==1.5.4
tqdm==4.66.4
flufl.lock==9.0.0
contourpy==1.3.2
genson==1.3.0
voluptuous==0.16.0
user-agents==2.2.0
semantic-version==2.10.0
ml_dtypes==0.5.4
launchdarkly-server-sdk==8.2.1
termcolor==3.3.0
aiobotocore==2.26.0
lightgbm==4.6.0
ruamel.yaml==0.19.1
thinc==8.2.5
starlette==0.46.2
pydantic_core==2.33.2
dvc-webhdfs==3.1.0
oauthlib==3.3.1
Pygments==2.19.1
text-unidecode==1.3
pandas==2.2.3
lazy_loader==0.4
bcrypt==4.0.1
scmrepo==3.6.1
tomli==2.2.1
importlib_metadata==8.5.0
filelock==3.16.1
semver==3.0.4
yfinance==1.1.0
aiohttp==3.13.3
gunicorn==20.1.0
aioitertools==0.13.0
django-filter==24.3
exceptiongroup==1.3.1
webdav4==0.11.0
zstandard==0.23.0
drf-generators==0.3.0
pydub==0.25.1
gcsfs==2025.2.0
django-debug-toolbar==3.2.1
pyasn1_modules==0.4.1
ujson==5.10.0
distlib==0.3.9
SQLAlchemy-Utils==0.41.1
kiwisolver==1.4.8
diskcache==5.6.3
multidict==6.1.0
torch==2.7.0
shortuuid==1.0.13
dictdiffer==0.9.0
typer-slim==0.21.1
gto==1.9.0
djangorestframework==3.15.2
nltk==3.9.1
xmljson==0.2.1
tzdata==2025.3
ordered-set==4.0.2
setproctitle==1.3.7
pytz==2025.2
Flask-Migrate==2.5.3
munch==4.0.0
google-cloud-audit-log==0.3.1
toml==0.10.2
dvc-gs==3.0.2
dvc-objects==5.2.0
click-repl==0.3.0
dvc-hdfs==3.0.0
typing-inspection==0.4.1
dvc-azure==3.1.0
faiss-cpu==1.10.0
django-csp==3.7
flask-marshmallow==0.10.1
psycopg2-binary==2.9.10
boto3==1.35.27
webencodings==0.5.1
tenacity==6.2.0
colorama==0.4.6
googleapis-common-protos==1.69.1
oss2==2.18.4
tokenizers==0.21.0
crcmod==1.7
cmarkgfm==2024.1.14
zipp==3.21.0
Django==5.1.7
ffmpy==1.0.0
zc.lockfile==4.0
entrypoints==0.4
astunparse==1.6.3
websockets==16.0
httplib2==0.31.2
aiohttp-retry==2.9.1
gTTS==2.5.4
kombu==5.6.2
ossfs==2025.5.0
opt_einsum==3.4.0
marshmallow-sqlalchemy==0.17.0
defusedxml==0.7.1
slicer==0.0.8
pypdfium2==4.30.1
zope.event==4.5.0
drf-dynamic-fields==0.3.0
pybluemonday==0.0.14
google-pasta==0.2.0
django-model-utils==4.1.1
idna==2.10
graphql-core==3.2.6
requests==2.32.3
frozenlist==1.5.0
pycparser==2.20
graphene==3.4.3
dnspython==2.7.0
httpx-sse==0.4.0
spacy==3.7.5
oauth2client==4.1.3
cryptography==43.0.3
langchain-text-splitters==0.3.5
spacy-legacy==3.0.12
inflection==0.5.1
groovy==0.1.2
python-dotenv==1.2.1
blinker==1.9.0
click-didyoumean==0.3.1
soupsieve==2.6
protobuf==4.25.8
aliyun-python-sdk-core==2.16.0
markdown-it-py==3.0.0
sympy==1.13.3
django-rq==2.10.3
six==1.16.0
google-auth-oauthlib==1.2.4
seaborn==0.13.2
mypy-extensions==1.0.0
pydantic==2.11.5
h11==0.14.0
GitPython==3.1.44
ua-parser-builtins==0.18.0.post1
networkx==3.4.2
pyparsing==3.2.3
tldextract==5.1.3
langchain-core==0.3.33
drf-flex-fields==0.9.5
spacy-loggers==1.0.5
joblib==1.4.2
hyperlink==21.0.0
typing-inspect==0.9.0
amqp==5.3.1
bleach==5.0.1
flatten-dict==0.4.2
jsf==0.11.2
marshmallow==2.20.2
Flask==2.0.3
isort==5.13.2
scikit-learn==1.4.2
attr==0.3.1
grpcio-status==1.70.0
google-cloud-appengine-logging==1.6.0
label-studio==1.16.0
dvc-gdrive==3.0.1
grpc-google-iam-v1==0.14.1
catalogue==2.0.10
setuptools==75.8.2
rich==13.9.4
pynndescent==0.5.13
sentry-sdk==2.22.0
google-resumable-media==2.7.2
uritemplate==4.1.1
sqltrie==0.11.2
django-migration-linter==5.1.0
future==1.0.0
flask-restx==1.1.0
preshed==3.0.12
Babel==2.12.1
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
Twisted==24.11.0
lxml==5.3.1
numpy==1.26.4
dvc-http==2.32.0
en_core_web_sm==3.7.1
scipy==1.15.1
jmespath==0.10.0
requests-file==2.1.0
prompt_toolkit==3.0.52
kaggle==1.7.4.5
decorator==5.2.1
python-slugify==8.0.4
tensorflow==2.20.0
appdirs==1.4.4
srsly==2.5.2
typer==0.21.1
txaio==23.1.1
confection==0.1.5
langchain-community==0.3.16
rq==1.16.2
optree==0.18.0
cffi==1.17.1
google-cloud-core==2.4.2
transformers==4.48.2
google-crc32c==1.6.0
pdfminer.six==20231228
kiteconnect==5.0.1
alembic==1.4.3
propcache==0.2.1
pyasn1==0.6.1
async-timeout==4.0.3
grandalf==0.8
umap-learn==0.5.9.post2
fsspec==2025.2.0
pygit2==1.18.2
configobj==5.0.9
dvc==3.66.1
tomlkit==0.13.3
asgiref==3.8.1
threadpoolctl==3.5.0
huggingface_hub==0.36.2
s3fs==2025.2.0
dataclasses-json==0.6.7
pathspec==0.12.1
dpath==2.2.0
ta==0.11.0
langsmith==0.3.4
inflect==5.6.2
Automat==24.8.1
constantly==23.10.4
dvc-task==0.40.2
service-identity==24.2.0
passlib==1.7.4
azure-storage-blob==12.24.1
pyRFC3339==2.0.1
aiofiles==24.1.0
PyJWT==2.11.0
pdfplumber==0.11.5
pyjokes==0.8.3
PyDrive2==1.21.3
mlflow==3.1.0
isodate==0.7.2
aliyun-python-sdk-kms==2.16.5
msal==1.35.0
lockfile==0.12.2
referencing==0.36.2
zope.interface==5.2.0
aiooss2==0.2.11
deep-translator==1.11.4
cymem==2.0.13
botocore==1.41.5
regex==2024.11.6
absl-py==2.3.1
aniso8601==8.0.0
cachelib==0.9.0
namex==0.1.0
anyio==4.8.0
graphql-relay==3.2.0
sentence-transformers==3.4.1
tifffile==2025.3.30
dvc-data==3.18.2
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
expiringdict==1.2.2
Flask-Cors==5.0.0
grpcio==1.70.0
asyncssh==2.22.0
safetensors==0.5.2
jsonschema==3.2.0
django-environ==0.10.0
django-ranged-fileresponse==0.1.2
google-cloud-storage==2.19.0
jsonschema-specifications==2024.10.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
shap==0.49.1
mpmath==1.3.0
sshfs==2025.11.0
cloudpathlib==0.23.0
keras==3.2.1
datamodel-code-generator==0.26.1
pygtrie==2.5.0
yarl==1.18.3
curl_cffi==0.13.0
freezegun==1.2.2
Mako==1.1.3
boto==2.49.0
azure-identity==1.25.2
rsa==4.9
django-annoying==0.10.6
matplotlib==3.8.4
packaging==24.2
tzlocal==5.3.1
azure-datalake-store==0.0.53
SQLAlchemy==1.4.48
antlr4-python3-runtime==4.9.3
itsdangerous==2.1.2
urllib3==2.6.3
dvc-render==1.0.2
ffmpeg-python==0.2.0
tensorboard==2.20.0
wcwidth==0.6.0
celery==5.6.2
iterative-telemetry==0.0.10
typing_extensions==4.15.0
aiosignal==1.4.0
wasabi==1.1.3
Flask-Script==2.0.6
gradio_client==2.0.3
incremental==24.7.2
libclang==18.1.1
fastapi==0.115.12
dvc-ssh==4.2.2
ua-parser==1.0.1
frozendict==2.4.7
certifi==2024.7.4
httpcore==1.0.7
proto-plus==1.26.0
cycler==0.12.1
hf-xet==1.2.0
banal==1.0.6
Jinja2==3.1.6
opencv-python==4.11.0.86
WTForms==2.3.1
dvc-studio-client==0.22.0
opentelemetry-sdk==1.34.1
redis==4.5.5
atpublic==7.0.0
pip==26.0.1
google-auth==2.38.0
safehttpx==0.1.7
murmurhash==1.0.15
python-editor==1.0.4
wandb==0.25.0
label-studio-sdk==1.0.10
imageio==2.37.0
langchain==0.3.17
PyMySQL==1.0.2
distro==1.9.0
cloudpickle==3.1.1
google-api-python-client==2.190.0
Markdown==3.10
flatbuffers==25.12.19
torchvision==0.22.0
jiter==0.8.2
python-geoacumen-city==2023.4.15
readme-md==2018.11.23
greenlet==3.0.3
openai==1.65.4
django-extensions==3.2.3
wheel==0.40.0
multitasking==0.0.12
argcomplete==3.6.0
docker-pycreds==0.4.0
funcy==2.0
pyboxen==1.3.0
mlflow-skinny==3.1.0
aiohappyeyeballs==2.6.1
smart-open==7.1.0
adlfs==2026.2.0
ijson==3.3.0
pydantic-settings==2.7.1
attrs==25.4.0
requests-toolbelt==1.0.0
wrapt==1.17.2
h5py==3.15.1
orjson==3.10.15
xgboost==3.1.1
docker==7.1.0
knack==0.13.0
brotli==1.2.0
pydot==4.0.1
django-cors-headers==3.6.0
public==2020.12.3
PyYAML==6.0.2
httpx==0.28.1
charset-normalizer==2.0.12
Flask-SQLAlchemy==2.5.1
humansignal-drf-yasg==1.21.10.post1
smmap==5.0.2
Flask-Caching==2.0.2
dataset==1.6.2
azure-core==1.32.0
Werkzeug==2.0.3
sqlparse==0.5.3
email_validator==2.2.0
Flask-Babel==2.0.0
databricks-sdk==0.56.0
tensorboard-data-server==0.7.2
autobahn==19.11.2
peewee==3.19.0
s3transfer==0.10.0
rules==3.4
pyOpenSSL==24.2.1
Faker==37.0.0
shtab==1.8.0
psutil==7.2.2
rpds-py==0.23.1
rstr==3.2.2
gast==0.7.0
click-plugins==1.1.1.2
weasel==0.4.3
dvc-oss==3.0.0
dvc-s3==3.3.0
google-auth-httplib2==0.3.0
gradio==6.3.0
requirement.txt==0.1.0
dulwich==1.1.0
beautifulsoup4==4.12.3
uvicorn==0.34.3
platformdirs==4.3.6
hydra-core==1.3.2
numba==0.62.1
pyrsistent==0.17.3
gevent==23.9.1
msal-extensions==1.3.1
annotated-types==0.7.0
django-user-agents==0.4.0
google-cloud-logging==3.11.4
MarkupSafe==2.1.3
Pillow==10.1.0
pycryptodome==3.23.0
llvmlite==0.45.1
billiard==4.2.4
omegaconf==2.3.0
virtualenv==20.28.0
cachetools==5.5.2
maxminddb==1.5.4
langcodes==3.5.1
scikit-image==0.25.2
requests-oauthlib==2.0.0
opentelemetry-api==1.34.1
black==25.1.0
requests-mock==1.12.1
pyarrow==20.0.0
python-json-logger==2.0.4
vine==5.1.0
django-storages==1.12.3
tabulate==0.9.0
python-multipart==0.0.21
dvc-webdav==3.0.1
fonttools==4.58.2
blis==0.7.11
